<div class=" container animated fadeIn main-container ">

    <div class="card ">
        <div class="card-body ">

            <h1>Sobre Nosotros</h1>
            <hr>
            <p class="textformat">Creemos en la belleza de la sinergia en el desarrollo de soluciones sobresalientes que ayudan a las empresas de clase mundial a alcanzar sus objetivos. Al potenciar nuestro talento para lograr un crecimiento personal y profesional, transformamos
                nuestra industria e impactamos positivamente en nuestra comunidad. La tecnología puede cambiar el mundo. Estamos orgullosos de ser parte de esta transformación y contribuir a su evolución.
            </p>
        </div>
        <img class="card-img-bottom" src="assets/img/about.jpg">
    </div>
</div>