<!-- <div class=" container animated fadeIn main-container ">

    <div class="card">
        <div class="card-body">

            <h1>Sobre nosotros</h1>
            <hr>
            <p class="textformat">Somos más que una simple empresa dedicada a la tecnologia, ofrecemos más que una solución, no ofrecemos un servicio, ofrecemos arte convertido en software.
            </p>
        </div>
        <div>
            <video src="assets/video/about.mp4" autoplay loop>
            
            </video>
        </div>

    </div>
</div> -->
<div class=" main-container row animated fadeIn">
    <div class="col-md-4">
        <h1 class="text-center">SOBRE NOSOTROS</h1>
        <hr class="shine">
        <p class="textformat">Somos más que una simple empresa dedicada a la tecnologia, ofrecemos más que una solución, no ofrecemos un servicio, ofrecemos arte convertido en software.
        </p>
    </div>
    <!-- <div class="col-md-8">
        <h3>{{ producto.categoria }}</h3>
        <hr>
        <p>{{ producto.descripcion }}</p>
    </div> -->
    <div class="mb-3 col-md-8">
        <video src="assets/video/about.mp4" autoplay loop>
            
        </video>
    </div>
    <div class="col-md-12">
        <h1 class="text-center">HISTORIA</h1>
        <hr class="shine">
    </div>

    <div class="col-md pic-ctn">

        <div class="card bg-transparent text-dark text-center">
            <img class="card-img-top" src="assets/img/card.png" alt="Card image cap">
            <div class="card-img-overlay textcard">
                <h4 class="card-title">13 de Mayo de 2020</h4>
                <p class="card-text textformat">Dijkstra Technologies nació de una idea conjunta.</p>
            </div>
        </div>
        <div class="card bg-transparent text-dark text-center">
            <img class="card-img-top" src="assets/img/card.png" alt="Card image cap">
            <div class="card-img-overlay textcard">
                <h4 class="card-title">Otra fecha</h4>
                <p class="card-text textformat">Algún acontecimiento importante como ejemplo</p>
            </div>
        </div>
        <div class="card bg-transparent text-dark text-center">
            <img class="card-img-top" src="assets/img/card.png" alt="Card image cap">
            <div class="card-img-overlay textcard">
                <h4 class="card-title">Otra fecha</h4>
                <p class="card-text textformat">Algún acontecimiento importante como ejemplo</p>
            </div>
        </div>
        <div class="card bg-transparent text-dark text-center">
            <img class="card-img-top" src="assets/img/card.png" alt="Card image cap">
            <div class="card-img-overlay textcard">
                <h4 class="card-title">Otra fecha</h4>
                <p class="card-text textformat">Algún acontecimiento importante como ejemplo</p>
            </div>
        </div>
    </div>
</div>